html,
body,
h1 {
    font-family: Roboto, Helvetica Neue, Arial, sans-serif;
}

head,
body,
head *,
body * {
    max-height: 999999px;
}

body,
h1 {
    font-size: small;
}

body {
    margin: 0;
    background: #fff;
    color: #4d5156;
}

a {
    color: #1558d6;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, .10)
}

a:visited {
    color: #4b11a8
}

/**/
.card {
    box-shadow: 0px 2px 5px 0px rgb(60 64 67 / 16%);
    padding: 12px;
    background: #fff;
    margin: 12px;
    border-radius: 12px;
}

.card-wrapper {
    outline: 0;
    display: block
}

.card-wrapper > img {
    max-width: 100%;
}

/**/